body {
    min-height: 200vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(../../public/fond-ecran.jpg) center/cover;
    
}
* {
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
}